TECH REQUIREMENTS
-----------------
Install Python 3.7
Django 2.1.2 -- https://www.djangoproject.com/start/

ENROLLMENT REQUIREMENTS
-----------------------

EDUCATION REQUIREMENTS
----------------------

FORM FIELDS
-----------

